@use '../utilities/mixins' as mixins;
.footer{
    @include mixins.caja-flex(column,center,center);
    &__attribution { 
        font-size: 11px;
        @include mixins.desktop() {
            font-size: 12px;
        }
    }
    &__networks {
        display: flex;
        gap: 12px;
    }


    &__copyright {
        font-size: 10px;
        font-weight: var(--light);
        color: var(--gray);

        @include mixins.desktop() {
            font-size: 12px;
        }
    }
    margin-bottom: 10px;
}
.attribution__a {
    color: var(--blue); 
}

.networks__a {
    list-style: none;
    text-decoration: none;
    color: var(--blue);
    border: 1px solid var(--pale-blue);
    border-radius: 50%;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 81px;
    margin-bottom: 27px;
    transition: all 0.5s;

    @include mixins.desktop() {
        margin-top: 34px;
    }
    &:hover {
        color: white;
        background-color: var(--blue);
    }
}
