@use '../utilities/variables' as variables;
@use '../utilities/mixins' as mixins;

.form {
    @include mixins.caja-flex(column,center,center,10px);
    align-items: start;
    &__input {
        @include mixins.cuadro-borde(280px,40px);

        border: 1px solid var(--pale-blue);
        text-indent: 33px;
        font-size: 12px;
        &::placeholder {
            color: var(--pale-blue);
            font-size: 12px;
            @include mixins.desktop() {
                font-size: 16px;
            }
        }

        &:focus {
            border-color: var(--blue);
            outline: var(--blue);
        }

        @include mixins.desktop() {
            @include mixins.cuadro-borde(421px,56px);
            font-size: 16px;
        }      
        
    }
    &__input--error {
        border: 1px solid var(--light-red);
        &:focus {
            border-color: var(--light-red);
            outline:var(--light-red);
        }

    }
    &__button {
        @include mixins.cuadro-borde(280px,40px);
        border: none;        
        background-color: var(--blue);

        text-transform: capitalize;
        color: var(--white);
        cursor: pointer;
 
        box-shadow: 0px 0px 5px 0px var(--blue);
        margin-bottom: 69px;
        &:hover {
            background-color: var(--pale-blue);
        }
        

        @include mixins.desktop() {
            @include mixins.cuadro-borde(200px,56px);
            font-size: 16px;
            margin-bottom: 86px;
        }
        &--error {
            margin-bottom: 35px !important;
            @include mixins.desktop() {
                margin-bottom: 86px !important;
            }
        }
    }
    position: relative;
    &__notification {
        color: red;
        font-size: 10px;
        font-style: italic;
        position: relative;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 18px;
        @include mixins.desktop() {
            position: absolute;
            text-align: start;
            font-size: 12.3px;
            margin-top: 9px;
            margin-left: 30px;
        }
    }

    @include mixins.desktop() {
        flex-direction: row
    }
}